<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <th:block th:each="foodlist : ${datalist}">
            <div>
                <div th:text="${board.id}" class="num">1</div>
                <div class="title" >
                    <a style="color:#000" th:text="${board.title}" th:href="@{/board/view(id=${board.id})}">제목</a>
                </div>
                <div th:text="${board.memberNickname}" class="writer">박준서</div>
                <div th:text="${board.createDate}" class="date">2023.8.22</div>
                <div th:text="${board.view}" class="count">0</div>
            </div>
        </th:block>
</body>
</html>