<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie Diary</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/css/board.css?after">
</head>
<body>
    <div class="header">
        <h1 style="color:#5fcf80">Calorie Diary</h1>
        
    </div>    
    <div class="menu">
        <label for="expand-menu"><div class="menutext">메뉴</div></label><input type="checkbox" id="expand-menu" name="expand-menu">
        <ul>
            <li><a href="index.html" class="item"><div class="menutext">홈</div></a></li>
            <li><a href="profile.html" class="item"><div class="menutext">프로필</div></a></li>
            <li><a href="camera.html" class="item"><div class="menutext">칼로리 카메라</div></a></li>
            <li><a href="caresult.html" class="item"><div class="menutext">식단 추천</div></a></li>
            <li><a href="board.html" class="item"><div class="menutext">게시판</div></a></li>
            <li><a href="fooddb.html" class="item"><div class="menutext">음식 데이터</div></a></li>
            <li><a href="login.html" class="item"><div class="menutext">로그아웃</div></a></li>
        </ul>
    </div>
    
    <div class="board_wrap">
        <div class="board_title">
            <strong style="color:#5fcf80">게시판</strong>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="writer">글쓴이</div>
                    <div class="date">작성일</div>
                    <div class="count">조회수</div>
                </div>
                <th:block th:each="board : ${list}">
                    <div>
                        <div th:text="${board.id}" class="num">1</div>
                        <div class="title" >
                            <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
                        </div>
                        <div th:text="${board.memberNickname}" class="writer">박준서</div>
                        <div th:text="${board.createDate}" class="date">2023.8.22</div>
                        <div th:text="${board.view}" class="count">0</div>
                    </div>
                </th:block>
            </div>
            <div class="board_page">
                <a href="#" class="bt first"><<</a>
                <a href="#" class="bt prev"><</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="num">4</a>
                <a href="#" class="num">5</a>
                <a href="#" class="bt next">></a>
                <a href="#" class="bt last">>></a>
            </div>
            <div class="bt_wrap">
                <a href="/board/write" class="on">게시물 작성</a>
                <!--<a href="#">수정</a>-->
            </div>
        </div>
    </div>

    <script src="js/index.js"></script>
</body>
</html>