<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/profile/modify" method="post">

    <input type="hidden" name="id" th:value="${modifyProfile.id}">
    <input type="hidden" name="memberEmail" th:value="${modifyProfile.memberEmail}">
    <input type="hidden" name="memberName" th:value="${modifyProfile.memberName}">
    <input type="text" name="currentWeight" placeholder="현재체중" th:value="${modifyProfile.currentWeight}">
    <input type="text" name="height" placeholder="키" th:value="${modifyProfile.height}">
    <input type="text" name="purposeWeight" placeholder="목표체중" th:value="${modifyProfile.purposeWeight}">
    <input type="text" name="gender" placeholder="성별" th:value="${modifyProfile.gender}">
    <input type="text" name="purposeBMI" placeholder="목표bmi" th:value="${modifyProfile.purposeBMI}">
    <button type="submit"> 저장</button>
</form>
</body>
</html>