/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* VARIABLES CSS */
:root {
    --nav--width: 92px;

    /* Colores */
    --first-color: #94CCBD;
    --bg-color: #5fcf80;
    --sub-color: #b6cefc;
    --white-color: #fff;

    /* Fuente y tipografia */
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;

    /* z index */
    --z-fixed: 100;
}

/* BASE */
*, ::before, ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 2rem 0 0 6.75rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

h1 {
    margin: 0;
    text-align:center;
    margin-bottom: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* l NAV */
.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav--width);
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
}

/* NAV */
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav__brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav__toggle {
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}

.nav__logo {
    color: var(--white-color);
    font-weight: 600;
}

.nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}

.nav__link:hover {
    background-color: var(--first-color);
}

.nav__icon {
    font-size: 20px;
}

.nav_name {
    font-size: var(--small-font-size);
}

/* Expander menu */
.expander {
    width: calc(var(--nav--width) + 9.25rem);
}

/* Add padding body*/
.body-pd {
    padding: 2rem 0 0 16rem;
}

/* Active links menu */
.active {
    background-color: var(--first-color);
}

/* COLLAPSE */
.collapse {
    grid-template-columns: 20px max-content 1fr;
}

.collapse__link {
    justify-self: flex-end;
    transition: .5;
}

.collapse__menu {
    display: none;
    padding: .75rem 2.25rem;
}

.collapse__sublink {
    color: var(--sub-color);
    font-size: var(--small-font-size);
}

.collapse__sublink:hover {
    color: var(--white-color);
}

/* Show collapse */
.showCollapse {
    display: block;
}

/* Rotate icon */
.rotate {
    transform: rotate(180deg);
    transition: .5s;
}



/*반응형 웹*/

div {
    font-size: 30px;
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;    
}

.miniProfile {
    min-height: 500px; 
    box-sizing: border-box;
    border:1px solid #ddd;
    border-color: #ddd;
    background-color: #fff;
}

.user-image{
    width: 50%;
    height: auto;
    max-width: 1000px;
}

.li{
    font-family: 'Noto Sans KR';
    font-size: xx-small;
}

.contents {
    min-height: 500px; 
    background-color:#fff;
    box-sizing: border-box;
    border:1px solid #ddd;
    border-color: #ddd;
    margin-right: 10px;
}

.dataCard{
    float:left;
    text-align: center;
    margin-left: 70px;
    margin-top: 50px;
    width:300px;
    height:100px;
    border:3px solid #5fcf80;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px gray;
}

.youtube{
    float: left;
    margin-top: 80px;
    margin-left: 70px;
}

.footer {
    margin-top: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border:1px solid #ddd;
    border-color: #ddd;
    background-color: #fff;
}


@media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
    .main {
        display: block;    
    }

    .miniProfile {  
        margin-bottom: 10px; 
        margin-right: 10px;
    }
    .responsive-image {
        max-width: 500px; 
    }
    .dataCard{
        width: 70%;
        height: 75%;
    }
    .youtube{
        width: 270px;
        height: 315px;
    }

}