<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/camera.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/07f7c184df.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/07f7c184df.js" crossorigin="anonymous"></script>
    <title>CalorieDiary</title>
</head>
<body>
<nav class="navbar">

    <div class="navbar__logo">
        <i class="fa-solid fa-c"></i><i class="fa-solid fa-d"></i>
        <a href="index.html">CalorieDiary</a>
    </div>

    <div class="navbar__menu">
        <li><a href="/index/call">홈</a></li>
        <li><a href="profile.html">프로필</a></li>
        <li><a href="/camera">칼로리 카메라</a></li>
        <li><a href="caresult.html">식단 추천</a></li>
        <li><a href="/board/list">게시판</a></li>
        <li><a href="/api">음식 데이터</a></li>
        <li><a href="/member/logout">로그아웃</a></li>
    </div>

    <ul class="navbar__icons"></ul>

    <a href="#" class="navbar__toggleBtn">
        <i class="fa-solid fa-bars"></i>
    </a>
</nav>

<h2>File Upload & Image Preview</h2>

<!-- Upload  -->
<form id="file-upload-form" class="uploader">
    <input id="file-upload" type="file" name="fileUpload" accept="image/*" capture="camera"/>

    <label for="file-upload" id="file-drag">
        <img id="file-image" src="#" alt="Preview" class="hidden">
        <div id="start">
            <i class="fa fa-download" aria-hidden="true"></i>
            <div>Select a file or drag here</div>
            <div id="notimage" class="hidden">Please select an image</div>
            <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
        </div>
        <div id="response" class="hidden">
            <div id="messages"></div>
            <progress class="progress" id="file-progress" value="0">
                <span>0</span>%
            </progress>
        </div>
    </label>
</form>


<script src="js/main.js" defer></script>
<script src="js/camera.js" defer></script>
</body>
</html>